{% extends 'base1.html.twig' %}

{% block body %}
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>espace event</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <div class="container" style="margin-top:100px;">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Event</h4>

                </div>
                <div class="card-body justify-content-center">
                    <h1>Event</h1>

                    <table class="table align-content-center" >
                        <tbody>

                        <tr>
                            <th>le Nom de l'évenement</th>
                            <td>{{ event.nomEvent }}</td>
                        </tr>
                        <tr>
                            <th>Categorie</th>
                            <td>{{ event.categorieEvent }}</td>
                        </tr>
                        <tr>
                            <th>nombre de place disponible</th>
                            <td>{{ event.nbrPlaceDispo }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ event.dateEvent|date('d-M-y') }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ event.description }}</td>
                        </tr>
                        <tr>
                            <th>Addresse</th>
                            <td>{{ event.adresse }}</td>
                        </tr>
                        <tr>

                            <td><a href="{{ path('event_map', {id: event.id}) }}">View on map</a></td>
                        </tr>
                        {% if msg is defined %}
                            <tr><td><h5>{{ msg }}</h5></td></tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>

                <div class="card-footer">
                    <div class="text-center ">
                        <ul class="row">
                            {% if event.nbrPlaceDispo>0 %}
                                <li><a class="genric-btn primary circle"  href="{{ path('event_participate', {id: event.id}) }}">Participer</a></li>
                            {% endif %}
                            <li>
                                <a class="genric-btn primary circle" href="{{ path('event_list') }}">Back to the list</a>
                            </li>



                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>







    <br>




{% endblock %}